*{
    display: flex;
    align-items: center;
    justify-content: center;
}
.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(26, 255, 0);
    font-size: 0.9pc;
    width: 130px;
    height: 40px;
    border:1in;
    border-color: black;
    color: black;
    border-radius: 2em;

}

.tab{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
}